@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  position: relative;
}

.container {
  max-width: 1111px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 0;
  // line-height: 20px;
}

button {
  width: 152px;
  height: 56px;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  border-radius: 8px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.light-btn {
  background-color: $white;
  color: black;
}

.light-btn:hover {
  background-color: $light-peach;
  color: black;
}

.dark-btn {
  background-color: $peach;
  color: white;
}

.dark-btn:hover {
  background-color: $light-peach;
}

.logo {
  width: 202px;
  height: 27px;
}