@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  position: relative;
  color: $dark-grey;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container {
  max-width: 1111px;
  // padding: 0 1.15rem;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 0;
  // line-height: 20px;
}

button {
  width: 152px;
  height: 56px;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  border-radius: 8px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.light-btn {
  background-color: $white;
  color: black;
}

.light-btn:hover {
  background-color: $light-peach;
  color: black;
}

.dark-btn {
  background-color: $peach;
  color: white;
}

.dark-btn:hover {
  background-color: $light-peach;
}

.logo {
  width: 202px;
  height: 27px;
}

.illustration {
  position: relative;
  width: 200px;
  height: 200px;

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: no-repeat url('../assets/home/desktop/bg-pattern-hero-home.svg') center/cover;
    z-index: -1;
  }

  img {
    position: absolute;
  }
  
  img::first-letter {
    text-transform:capitalize;
  }
  
  .bubble-1 div.illustration:after {
    transform: rotate(-90deg);
  }
  
  .bubble-2 div.illustration:after {
    transform: rotate(-180deg);
  }
}