@import './variables';

.contact-form {
    color: white;
    min-height: 764px;
    background: no-repeat url("../assets/contact/mobile/bg-pattern-hero-contact-mobile.svg")  left/cover $peach;
    padding: 4.5rem 1.5rem;
    text-align: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 48px auto 40px auto;

        input {
            height: 62px;
            max-height: 62px;
        }

        textarea {
            height: 127px;
            max-height: 127px;
            margin-bottom: 1.5rem;
        }

        input:not([value=""]):not(:focus):invalid,
        textarea:not([value=""]):not(:focus):invalid {
            background: url("../assets/contact/desktop/icon-error.svg") no-repeat 95% 50%;
        }
        
        input,
        textarea {
            outline: none;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            font-size: 15px;
            opacity: 0.5;
            width: 100%;
            padding: 0 13px;
            color: white;
        }

        textarea {
            padding-top: 25px;
        }

        input::placeholder,
        textarea::placeholder {
            color: white;
        }

        input:focus,
        textarea:focus {
            background: none;
            border: none;
            border-bottom: 3px solid white;
        }
    }
}

@media screen and (min-width: 768px) {
    .contact-form {
        margin: auto 40px;
        border-radius: 15px;
        text-align: start;
        padding: 71px 58px;
        background: no-repeat url("../assets/contact/desktop/bg-pattern-hero-desktop.svg")  -200% -20% $peach;

        div.submit-btn {
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media screen and (min-width: 1111px) {
    .contact-form {
        display: flex;
        min-height: 480px;
        gap: 95px;
        width: 100%;
        background-position: left;
        max-width: 1111px;
        padding: 0 1.15rem;
        margin: auto;

        form {
            margin: 0;
        }

        .left {
            width: 50%;
            height: 100%;
            padding-top: 80px;
        }

        .right {
            width: 50%;
            height: 100%;
        }
    }
}