.locations {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .locations {
        gap: 7.5rem;
    }
}


@media screen and (min-width: 1111px) {
    .locations {
        gap: 2rem;

        .location:not(.location:nth-child(2)) {
            flex-direction: row-reverse;
        }
    }
}