@import './variables';

.quality {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .text {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 350px;
        color: $dark-grey;

        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1110px) {
    .quality {
        flex-direction: row;

        .text {
            text-align: start;
            max-width: 439px;
        }
    }
}