@import './variables';

.service-banner {
    background: no-repeat url("../assets/shared/desktop/bg-pattern-small-circle.svg") top right $peach;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 1.5rem;
}