.service-overview {
    min-height: 250px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.2s ease;
    }

    img {
        transition: all 0.1s ease;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
        transform: scale(1);
        transition: .2s ease-in-out;
    }

    h2 {
        color: white;
    }

    a {
        letter-spacing: 5px;
        font-size: 15px;
        color: white;
        display: flex;
        align-items: center;
        gap: 16px;
        font-weight: 500;

        &:after {
            content: '';
            background: no-repeat url('../assets/shared/desktop/icon-right-arrow.svg') center/cover;
            width: 10px;
            height: 10px;
        }
    }

    &:hover img {
        transform: scale(1.3);
    }

    &:hover:after {
        background-color: rgba(231, 129, 107, 0.8);
    }
}